//- layout.pug
//- 
  content

mixin hero-color-bar
  .hero-color-bar
    .red
    .green
    .blue
    .purple
    .orange

block page-data

<!DOCTYPE html>
html

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title !{hero}
    link(rel="stylesheet" href="/css/style.css" type="text/css")
    link(rel="stylesheet" href="/css/master.css" type="text/css")

    block content

    //- Scripts
    include _scripts